body {
	background-color: #a68ae3;
}

#grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	width: min(80vw, 80vh);
	height: min(80vw, 80vh);
	top: calc(50vh - min(40vw, 40vh) - 4px);
	left: calc(50vw - min(40vw, 40vh) - 4px);
	background-color: white;
	border-top: 4px solid black;
	border-left: 4px solid black;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 4px solid black;
	border-right: 4px solid black;
}

.box > p {
	margin: 15px;
	user-select: none;
	text-align: center;
	font-size: min(3vw, 3vh);
}

#gen {
	position: absolute;
	top: calc(50vh + min(42vw, 42vh));
	left: calc(50vw - 90px);
	width: min(20vw, 20vh);
	height: min(5vw, 5vh);
	font-size: min(2vw, 2vh);
}

#grids-list {
	position: absolute;
	
}